<div class="container">
  <h1>Welcome to Javascript Racer!</h1>
  <p>Please sign in to start</p>

<div>
  <form class="login" action="/game" method="POST">
    <input type="text" value="MJM" placeholder="Initials Player 1" required = true name="player1">
    <input type="text" value="JCB" placeholder="Initials Player 2" required = true name="player2">
    <input type="submit" value="Play!"></form>
</div>

